@model appRestauranteDSW_CoreMVC.Models.Mesas

@{
    ViewData["Title"] = "Create";
}

<h1>Create Mesa</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="cantidad_asientos" class="control-label"></label>
                <input asp-for="cantidad_asientos" class="form-control" />
                <span asp-validation-for="cantidad_asientos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
